{% load static %}


<div class="blog-post">
    <div class="date">
        {{ blog_post.published_at|date:'F j, Y' }}
    </div>

    <h2 class="title">
        {{ blog_post.title }}
    </h2>

    <div class="categories-wrapper">
        <a href="#">Curabitur</a>,
        <a href="#">Porttitor</a>
    </div>

    <img src="{% get_media_prefix %}{{ blog_post.featured_image }}" class="featured-image" />

    <div class="blog-post-content short">
        {{ blog_post.short }}
    </div>

    <a href="#" class="continue-reading-button">
        Continue reading <span class="icon-right" />
    </a>
</div>