{% load static blog_post %}


<div class="blog-post">
    <div class="date">
        {{ blog_post.published_at|date:'F j, Y' }}
    </div>

    <h2 class="title">
        {{ blog_post.title }}
    </h2>

    <div class="categories-wrapper">
        {% for category in blog_post.categories.all %}
            <span class="category">
                <a href="#">
                    {{ category.name }}
                </a>
            </span>
        {% endfor %}
    </div>

    <img src="{% get_media_prefix %}{{ blog_post.featured_image }}" class="featured-image" />

    <div class="blog-post-content short">
        {{ blog_post.short }}
    </div>

    {% if show_full_content %}
        <div class="blog-post-content full">
            {{ blog_post.content|include_all_elements|safe }}
        </div>
    {% else %}
        <a href="{% url 'blog:blog_post_view' blog_post.id %}" class="continue-reading-button">
            Continue reading <span class="icon-right" />
        </a>
    {% endif %}

</div>