<div class="menubar">

    <div class="expander clickable">
        {% if category %}
            Category: {{ category.name }}
        {% else %}
            Menu
        {% endif %}
        <span class="icon-down-open-big"></span>
    </div>

    {% if category %}
        <div class="expander">
            Category: {{ category.name }}
        </div>
    {% endif %}

    <ol class="options">
        <li>
            <div class="option-name">
                Categories
                <span class="icon-down-open-big"></span>
            </div>
            <ol class="links">
                <li>
                    <a href="{% url 'blog:index' %}">
                        All
                    </a>
                </li>
                {% for category in categories %}
                    <li>
                        <a href="{% url 'blog:category_view' category.name %}">
                            {{ category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </li>

        <li>
            <div class="option-name">
                Subscriptions
                <span class="icon-down-open-big"></span>
            </div>
            <ol class="links">
                <li>
                    <a href="{{ MAILCHIMP_SUBSCRIPTION_FORM_URL }}" target="_blank">
                        Subscribe
                    </a>
                </li>
            </ol>
        </li>
    </ol>
</div>