.about-me-section {
    .social-links {
        width: 340px;
        float: left;
        padding-right: 35px;
        margin-top: 0px;

        ul {
            margin-top: 40px;
            text-align: initial;
        }
    }

    .description {
        width: 560px;
        float: right;
    }
}