.skills-section {
    .skills {
        text-align: left;
    }

    .skills-legend-wrapper {
        width: 440px;
        padding-left: 227px;
    }

    .skill-bar {
        width: 440px;
    }

    .skill-name {
        position: relative;
        top: -3px;
        width: 340px;
        text-align: right;
        padding-right: 35px;
        margin-left: 0px;
        color: #666666;
    }
}