.skills-section {
    .skills {
        text-align: initial;
    }

    .skill-bar {
        width: 440px;
    }

    .skill-name {
        position: relative;
        top: -3px;
        width: 340px;
        text-align: right;
        padding-right: 35px;
        margin-left: 0px;
        color: #666666;
    }
}