{% extends "blog/base.html" %}


{% block title %}
    Blog &#187; {{ blog_post.title }}
{% endblock %}


{% block og %}
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ BASE_URL }}{% url 'blog:blog_post_view' blog_post.id %}" />
    <meta property="og:title" content="Coding Buzz | Blog &#187; {{ blog_post.title }}" />
    <meta property="og:description" content="{{ blog_post.short }}" />
    <meta property="og:image" content="{{ BASE_URL }}{% get_media_prefix %}{{ blog_post.featured_image }}" />
{% endblock %}


{% block content %}
    <div class="page-content blog-page blog-post-page">
        <div class="wrapper">
            <div class="posts-wrapper">
                {% include 'blog/pages/partials/blog_post.html' with blog_post=blog_post show_full_content=True %}
            </div>
        </div>
    </div>
{% endblock %}