nav {
    height: 40px;
    background: #FFFFFF;
    padding: 25px 0px;
    transition: padding .2s;

    &:after {
        display: none;
    }

    .page-title {
        font-size: 32px;
        line-height: 40px;
        margin-left: 30px;
    }

    a {
        color: #000000;

        &:before {
            border-color: #000000;
        }
    }

    .menu-items {
        line-height: 40px;
        margin-right: 30px;

        li {
            font-size: 16px;
            margin-right: 25px;
        }

        .inactive {
            color: #DDDDDD;
        }
    }

    &.mini {
        padding: 5px 0;
        box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .5);
        transition: padding .2s, box-shadow .2s .2s;
    }
}