.hire-me-section {
    .companies-carousel {
        margin-top: 40px;
        height: 80px;

        .image {
            img {
                height: 80px;
                margin-right: 30px;
            }
        }
    }
}