.skills-section {
    .skills {
        margin-top: 45px;
    }

    .skills-legend-wrapper {
        height: 30px;
        width: 570px;
        font-size: 14px;
        line-height: 30px;
    }

    .skill-bar {
        width: 570px;
        height: 24px;
    }

    .skill-name {
        margin-left: 6px;
        font-size: 16px;
        top: 5px;
    }
}