.skills-section {
    .skills {
        margin-top: 45px;
    }

    .skill-bar {
        width: 570px;
        height: 22px;
    }

    .skill-name {
        margin-left: 4px;
        font-size: 16px;
        top: 4px;
    }
}