<nav>
    <div class="wrapper">
        <span class="page-title">
            Coding Buzz
        </span>
        <ul class="menu-items">
            {% with namespace=request.resolver_match.namespace %}
                <li>
                    <a href="{% url 'index' %}"
                       class={% if namespace == '' %}"active"{% endif %}>
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:index' %}"
                       class={% if namespace == 'blog' %}"active"{% endif %}>
                        Blog
                    </a>
                </li>
            {% endwith %}
        </ul>
    </div>
    <div class="shadow"></div>
</nav>