.page-content {
    position: relative;
    top: -25px;
    margin-bottom: -25px;

    .wrapper {
        background: #FFFFFF;
        position: relative;

        @import 'page_content/low/shadows';
        @import 'page_content/low/content';
    }
}


@media all and (min-width: 768px) {
    .page-content {
        top: -55px;
        margin-bottom: -55px;

        .wrapper {
            @import 'page_content/medium/shadows';
            @import 'page_content/medium/content';
        }
    }
}