body.blog-body {
    background: #F5F5F5;
}


.blog-page {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 60px;
    font-weight: 300;

    .wrapper {
        background: none;
    }

    .posts-wrapper {
        width: calc(100% + 28px);
        margin-left: -14px;
    }
}


@media all and (min-width: 768px) {
    .blog-page {
        .posts-wrapper {
            width: calc(100% + 50px);
            margin-left: -25px;
        }
    }
}


@media all and (min-width: 960px) {
    .blog-page {
        .posts-wrapper {
            width: 100%;
            margin-left: 0;
        }
    }
}