.blog-index-page {
    .posts-wrapper, .header-image {
        width: calc(100% + 28px);
        margin-left: -14px;
    }

    .header-image {
        height: 260px;
        background: url(/static/blog/images/mock/index_header.jpg) center no-repeat;
        background-size: cover;
        margin-bottom: 60px;
    }

    .blog-post {
        margin: 0 0 60px 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}


@media all and (min-width: 768px) {
    .blog-index-page {
        .header-image, .posts-wrapper {
            width: calc(100% + 50px);
            margin-left: -25px;
        }
    }
}


@media all and (min-width: 960px) {
    .blog-index-page {
        .header-image, .posts-wrapper {
            width: 100%;
            margin-left: 0;
        }
    }
}