.blog-index-page {
    .menubar, .header-image {
        width: calc(100% + 28px);
        margin-left: -14px;
    }

    .header-image {
        height: 260px;
        background: url(/static/blog/images/mock/header.jpg) center no-repeat;
        background-size: cover;
        margin-bottom: 60px;
        text-align: center;
        line-height: 260px;
    }

    .menubar {
        margin-top: -60px;
        margin-bottom: 60px;
    }

    .blog-post {
        margin: 0 0 60px 0;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .pagination-wrapper {
        text-align: center;
        margin-top: 30px;
        margin-bottom: -30px;
    }
}


@media all and (min-width: 768px) {
    .blog-index-page {
        .chosen-category-wrapper {
            font-size: 24px;
        }

        .header-image, .posts-wrapper, .menubar {
            width: calc(100% + 50px);
            margin-left: -25px;
        }
    }
}


@media all and (min-width: 960px) {
    .blog-index-page {
        .header-image, .posts-wrapper, .menubar {
            width: 100%;
            margin-left: 0;
        }
    }
}