{% extends "base.html" %}
{% load static blog_post %}


{% block page_styles %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "blog/scss/base.scss" %}" />
    <style type="text/css">
        {% get_pygments_styles %}
    </style>
{% endblock %}


{% block page_scripts %}
    <script type="text/javascript" src="{% static "blog/scripts/youtube.js" %}"></script>
    <script type="text/javascript" src="{% static "blog/scripts/menubar.js" %}"></script>
{% endblock %}


{% block bodyclass %}
    class="blog-body"
{% endblock %}