.comments-section {
    margin-top: 60px;
    background: #FFF;
    padding: 30px 20px;
    font-size: 14px;

    h2 {
        font-size: 1.3em;
        font-weight: 400;
        text-align: center;
    }

    form {
        margin: 30px 0;
    }

    input, textarea {
        width: 100%;
        background: #FFF;
        border: 1px solid #DDD;
        margin-bottom: 20px;
        transition: border .4s;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        padding: 10px;
        box-sizing: border-box;
        line-height: 20px;

        &:focus {
            outline: none;
            border-color: #333;
        }

        &.has-errors {
            border-color: #F00;
        }
    }

    textarea {
        resize: none;
        height: 120px;
    }

    .errors {
        color: #F00;
        position: relative;
        top: -15px;
    }

    .submit-button-wrapper {
        text-align: right;
    }

    .g-recaptcha {
        float: right;
        margin-bottom: 20px;
    }

    button {
        background-color: $blog-accent-color;
        border: none;
        color: #FFF;
        font-family: inherit;
        font-weight: 400;
        font-size: inherit;
        padding: 10px 20px;
        text-transform: uppercase;
        opacity: .85;
        transition: opacity .25s;
        float: right;
        clear: both;

        &:hover {
            opacity: 1;
        }
    }

    .comments {
        margin: 60px 0 30px 0;
    }

    .comment {
        color: #333;
        padding: 20px 0;
        border-bottom: 1px dashed #CCC;

        &:first-of-type {
            border-top: 1px dashed #CCC;
        }
    }

    .comment-anchor {
        position: relative;
        top: -55px;
    }

    .comment-header {
        margin-bottom: 12px;


        .name {
            display: inline-block;
            font-weight: 400;
            font-size: 1.1em;
        }

        .date {
            float: right;
            display: inline-block;
            color: #CCC;
            font-style: italic;
        }
    }

    .comment-content {
        line-height: 22px;
        text-align: justify;
    }

    #comments-section {
        position: relative;
        top: -65px;
    }
}


@media all and (min-width: 568px) {
    .comments-section {
        .g-recaptcha {
            float: left;
            margin-bottom: 0;
        }

        button {
            clear: none;
        }
    }
}


@media all and (min-width: 768px) {
    .comments-section {
        padding: 30px;
        font-size: 16px;

        input, textarea {
            line-height: 30px;
        }

        .comment-header {
            margin-bottom: 20px;
        }

        .comment-content {
            line-height: 30px;
        }

        #comments-section {
            top: -80px;
        }

        textarea {
            height: 200px;
        }

        .comment-anchor {
            top: -70px;
        }
    }
}


@media all and (min-width: 960px) {
    .comments-section {
        padding: 30px 110px;
    }
}