.menubar {
    background: #FFF;
    box-sizing: border-box;

    .expander, .options {
        text-align: center;
        line-height: 22px;
    }

    .expander {
        padding: 8px 0;
        font-size: 18px;
        transition: background .25s;

        &:not(.clickable) {
            display: none;
        }

        span {
            font-size: 16px;
            display: inline-block;
            transition: transform .25s;
            height: 21px;
        }

        &.clickable:hover {
            cursor: pointer;
        }
    }

    &.expanded {
        .expander.clickable {
            background-color: $blog-accent-color;
            color: #FFF;

            span {
                transform: rotate(180deg);
            }
        }
    }

    .options {
        display: none;
        padding: 6px 0;

        & > li {
            font-size: 16px;
            padding: 6px 0;
            font-weight: 400;
        }

        a {
            text-decoration: none;
            color: #000;
            font-weight: 300;
            font-size: 16px;
        }
    }

    .option-name {
        text-transform: uppercase;

        & > span {
            display: none;
        }
    }

    .links {
        & > li {
            padding: 6px 0;
        }
    }
}


@media all and (min-width: 600px) {
    .menubar {
        height: 38px;
        padding: 0 30px;

        .expander, .options {
            display: inline-block;
            padding: 0;
            height: 38px;
            line-height: 38px;
            float: left;
            font-size: 16px;
        }

        .expander {
            margin-right: 25px;
            font-weight: 400;
            letter-spacing: 1px;
            color: #333;

            &.clickable {
                display: none;
            }

            &:not(.clickable) {
                display: inline-block;
            }

            span {
                display: none;
            }
        }

        .options {
            display: inline-block !important;

            & > li {
                display: block;
                padding: 0;
                line-height: 38px;
                height: 38px;
                font-weight: 300;
                float: left;
                margin-right: 3px;

                &.hovered {
                    .option-name {
                        background-color: $blog-accent-color;
                        color: #FFF;

                        span {
                            transform: rotate(180deg);
                        }
                    }

                    .links {
                        transform: translate(0, 0);
                        opacity: 1;
                    }
                }

                &:first-of-type .option-name:before {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 30px;
                    background-color: #F5F5F5;
                    position: absolute;
                    top: 4px;
                    left: -2px;
                }
            }
        }

        .option-name {
            text-transform: none;
            transition: background .1s;
            padding: 0 12px;
            background: #FFF;
            position: relative;
            z-index: 50;
            text-align: left;

            & > span {
                display: block;
                float: right;
                transition: transform .25s;
            }

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 30px;
                background-color: #F5F5F5;
                position: absolute;
                top: 4px;
                right: -2px;
            }
        }

        .links {
            opacity: 0;
            transform: translate(0, -100%);
            transition: all 0.25s;
            background: #FFF;
            box-shadow: 0 3px 5px 0 rgba(50, 50, 50, .5);

            & > li {
                text-align: left;
                padding: 0 12px;
                transition: background .1s;

                a {
                    display: block;
                }

                &:hover {
                    background-color: $blog-accent-color;

                    a {
                        color: #FFF;
                    }
                }
            }
        }
    }
}