.home-page {
    .about-me-section {
        .social-links {
            width: 340px;
            float: left;
            padding-right: 35px;
            box-sizing: border-box;

            .links {
                margin-top: 40px;

                li {
                    margin-bottom: 4px;
                }

                .user-name {
                    width: 120px;
                    display: inline-block;
                    text-align: right;
                }

                a {
                    text-decoration: none;
                    font-size: 18px;
                    color: #999999;
                    font-weight: 100;
                    line-height: 30px;
                }
            }
        }

        .description {
            width: 560px;
            float: right;
        }
    }

    .skills-section {
        .skills {
            margin-top: 45px;
        }

        .skill {
            margin-bottom: 6px;

            .skill-bar {
                width: 440px;
                height: 20px;
                background: url('/static/images/skill_bg.png');
                background-size: 6px 16px;
                border: 1px solid #D2D2D2;
                box-sizing: border-box;
                display: inline-block;

                &:before {
                    display: block;
                    content: "";
                    height: 100%;
                    width: 0%;
                    background: #D8D8D8;
                    border: 1px solid #C5C5C5;
                    margin-top: -1px;
                    margin-left: -1px;
                    transition: width 1s ease-out;
                }

                @for $i from 1 through 100 {
                    &.skill-#{$i}-percent.expanded:before {
                        width: #{$i * 1%};
                    }
                }
            }

            .skill-name {
                font-size: 18px;
                color: #666666;
                font-weight: 100;
                display: inline-block;
                position: relative;
                top: -3px;
                width: 340px;
                text-align: right;
                padding-right: 35px;
                box-sizing: border-box;
            }
        }
    }
}
