@import 'general/reset';
@import 'general/fonts';

@import 'blocks/navbar';
@import 'blocks/featured_image';


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;

    .wrapper {
        margin: auto;
        max-width: 960px;
    }
}