html {
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}


body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    min-height: 100%;
    position: relative;
    padding-bottom: 70px;
    box-sizing: border-box;


    .wrapper {
        margin: auto 14px;
        max-width: 960px;
    }

    .clearfix {
        clear: both;
    }
}


@media all and (min-width: 768px) {
    body {
        padding-top: 90px;
        padding-bottom: 100px;

        .wrapper {
            margin: auto 25px;
        }
    }
}


@media all and (min-width: 1010px) {
    body {
        .wrapper {
            margin: auto;
        }
    }
}


@media all and (min-width: 1050px) {
    body {
        padding-top: 150px;
        padding-bottom: 140px;
    }
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
    body {
        font-weight: 100;
    }
}