{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>hornet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "scss/base.scss" %}" />
        {% endcompress %}
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
        {% block page_scripts %}{% endblock %}
    </head>

    <body>
        {% include "partials/navbar.html" %}
        {% block content %}{% endblock %}
        {% include "partials/footer.html" %}
    </body>
</html>