{% load static %}
{% load compress %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Coding Buzz | {% block title %}Where (software) craftsmanship meets passion{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "scss/base.scss" %}" />
            {% block page_styles %}{% endblock %}
        {% endcompress %}
        <link rel="shortcut icon" href="/favicon.ico" />
        {% block og %}
        {% endblock %}
    </head>

    <body {% block bodyclass %}{% endblock %}>
        {% include "partials/navbar.html" %}
        {% block content %}{% endblock %}
        {% include "partials/footer.html" %}

        {% compress js %}
            <script type="text/javascript" src="{% static "scripts/vendor/jquery-1.12.4.js" %}"></script>
            <script type="text/javascript" src="{% static "scripts/navbar.js" %}"></script>
            {% block page_scripts %}{% endblock %}
        {% endcompress %}
        {% if anchor %}
            <script type="text/javascript">
                $(function() {
                    window.location.hash = '{{ anchor }}';
                });
            </script>
        {% endif %}
        {% include 'partials/analytics.html' %}
    </body>
</html>
