{% extends "base.html" %}


{% block content %}
    {% include "partials/featured_image.html" %}
    <div class="page-content">
        <div class="wrapper">
            <div class="shadows">
                <div class="left-shadow"></div>
                <div class="right-shadow"></div>
                <div class="top-shadow"></div>
                <div class="inner-shadow-mask"></div>
            </div>
            <div class="content">
                Content here
            </div>
        </div>
    </div>
{% endblock %}