{% extends "base.html" %}
{% load static %}

{% block page_scripts %}
    <script type="text/javascript" src="{% static "scripts/jquery.imageslider.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/home_page.js" %}"></script>
{% endblock %}


{% block content %}
    {% include "partials/featured_image.html" %}
    <div class="page-content home-page">
        <div class="wrapper">
            <div class="shadows">
                <div class="left-shadow"></div>
                <div class="right-shadow"></div>
                <div class="top-shadow"></div>
                <div class="inner-shadow-mask"></div>
            </div>
            <div class="content">

                <section class="about-me-section">
                    <div class="social-links">
                        <h2>
                            Do not hesitate to reach me on
                        </h2>
                        <ul class="links">
                            {% for link in social_links %}
                                <li>
                                    <a href="{{ link.link }}">
                                        <span class="user-name-wrapper">
                                            <span class="user-name" data-hover="{{ link.name }}">{{ link.name }}</span>
                                        </span>
                                        <span class="site-name">
                                            {{ link.site }}
                                        </span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="description">
                        <p>Hey folks! My name is Marcin, I am the CEO at Coding Buzz - a software company of my own. Welcome to my website!</p>
                        <p>I was born in 1991 in Bełchatów, Poland. I knew that my career would be connected with IT since I was 9 years old. Then I got my first computer and went crazy on its point.</p>
                        <p>My first serious coding classes took place when I was 13. I started with HTML and Pascal, later on I went for C++ and JavaScript, finishing on Java, Python and Ruby. In the meantime I started dealing with algorithm contests and web application development.</p>
                        <p>In my professional career I have always been trying to be self-sufficient. Today, after graduating from Technical University of Łódź and with few years of work experience I am a full stack software developer.</p>
                        <p>During work I often experience something what I call "The Coding Buzz". It's a state when I have a problem to solve, a keyboard right underneath my fingers, screen in front of my eyes and music in my ears. Nothing else matters.</p>
                        <p>This is the genesis of my company's name. It's also a guarantee that I work on every project with the utmost care. Why? Because I love to feel the Buzz.</p>
                    </div>
                    <div class="clearfix"></div>
                </section>


                <section class="skills-section">
                    <h2>
                        My skills and abilities
                    </h2>
                    <p>
                        My very first programming mentor told me once that "every good engineer should have at least basic knowledge of every application layer". This motto, combined with curiosity and zeal, accompanied me during my professional career resulting in this particular set of skills and abilities:
                    </p>

                    <ul class="skills">
                        {% for skill in skills %}
                            <li class="skill">
                                <span class="skill-name">{{ skill.name }}</span>
                                <div class="skill-bar skill-{{ skill.level }}-percent"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </section>


                <section class="hire-me-section">
                    <h2>
                        Hire me
                    </h2>
                    <p>
                        I am currently based in Łódź, Poland, working @ <a href="http://goodylabs.com" target="_blank">goodylabs</a>. I am always open for new job opportunities including full stack development, application architecture design, problem solving, algorithm design and legacy code refactorization.
                    </p>
                    <p>
                        <a href="{% static "files/marcin_skiba_cv_en.pdf" %}">Here</a> You can grab my resume. Feel free to contact me via <a href="mailto:marcin@coding.buzz">marcin@coding.buzz</a>.
                    </p>
                    <p>
                        &nbsp;
                    </p>
                    <p>
                        Companies that trusted me:
                    </p>
                    <div class="companies-carousel">
                        <div class="images-wrapper">
                            <div class="image">
                                <img src="{% static "images/brands/goodylabs.png" %}" />
                            </div>
                            <div class="image">
                                <img src="{% static "images/brands/creality.jpg" %}" />
                            </div>
                            <div class="image">
                                <img src="{% static "images/brands/outbox.jpg" %}" />
                            </div>
                            <div class="image">
                                <img src="{% static "images/brands/comarch.jpg" %}" />
                            </div>
                            <div class="image">
                                <img src="{% static "images/brands/cima.jpg" %}" />
                            </div>
                            <div class="image">
                                <img src="{% static "images/brands/shell.png" %}" />
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}