nav {
    height: 35px;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.1));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-weight: 300;

    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0px;
        display: block;
        width: 100%;
        border-bottom: solid 1px rgba(255, 255, 255, 0.2);
    }

    .page-title {
        font-size: 14px;
        line-height: 35px;
        margin-left: 1px;
        color: #FFFFFF;
    }

    .menu-items {
        float: right;
        line-height: 35px;
        margin-right: 1px;

        li {
            display: inline-block;
            float: left;
            margin-right: 15px;
            font-size: 14px;
            text-transform: uppercase;

            &:last-of-type {
                margin-right: 0px;
            }
        }

        .inactive {
            color: #666666;
            cursor: not-allowed;
        }

        a {
            text-decoration: none;
            color: #FFFFFF;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                width: 0%;
                overflow: hidden;
                transition: width 0.5s;
                border-bottom: 1px solid #FFFFFF;
                height: 100%;
                top: 0px;
                left: 0px;
            }

            &:hover:before, &.active:before {
                width: 100%;
            }
        }
    }
}
